@import "tailwindcss";

@layer base {
  body {
    background-color: #050505;
    color: white;
    font-family: sans-serif;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    padding: 0;
  }
}